<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img class="logo pull-left" src="photo\logo.jpg">
            <a href="#/" class="navbar-brand">Restaurant App</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div ng-if="!model.user">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-default" href="#login" role="button">Login</a></li>
                    <li><a class="btn btn-default" href="#register" role="button">Register</a></li>
                </ul>
            </div>
            <div ng-if="model.user">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-default" href="#/user/{{model.user._id}}">Profile</a></li>
                </ul>
            </div>
            <form class="navbar-form navbar-center">
                <input ng-model="model.keyword"
                       type="text" class="form-control" placeholder="Search Restaurant">
                <a ng-click="model.searchRestaurant(model.keyword)"
                   class="btn btn-default"
                   type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </form>
        </div>
    </div>
</nav>


<div class="container">
    <h3>Favorite List</h3>
    <div class="dropdown pull-right" id="nbb-dropdown" ng-if="model.owner">
        <button class="btn btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"> Share this list to
            Friends
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li ng-repeat="friend in model.friends" role="presentation">
                <a ng-click="model.shareListToFriend(friend._id)" role="menuitem" tabindex="-1">{{friend.nickname}}</a>
            </li>

        </ul>
    </div><br/>
    <div class="form-group">
        <label for="name">List Name</label>
        <input ng-model="model.list.name"
               class="form-control"
               name="name"
               id="name"
               placeholder="List Name"
               type="text"
               ng-disabled="!model.owner"/>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
    <textarea ng-model="model.list.description"
              rows="3"
              class="form-control"
              name="description"
              id="description"
              placeholder="description"
              ng-disabled="!model.owner"
    ></textarea>
    </div>
    <div class="form-group" ng-if="model.owner">
        <a ng-click="model.updateList()" class="btn btn-primary">
            Update Information
        </a>
    </div>
</div>


<div ng-show="model.success" class="alert alert-success">
    {{model.success}}
</div>

<div ng-show="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<div class="container">
    <h3>Restaurants</h3>
    <table class="table table-hover">
        </thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Unfavorite</th>
            </th>
            </thead>
            <tbody>
        <tr ng-repeat="restaurant in model.restaurants">
            <td><a href="#/restaurant/{{restaurant._id}}">{{restaurant.name}}</a></td>
            <td>{{restaurant.type}}</td>
            <td><a ng-click="model.removeRestaurantFromList(restaurant._id)" type="button"><span
                    class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
    </table>

</div>