<div class="container">
    <h2>Edit Review for {{model.restaurant.name}}</h2>
    <div ng-if="model.success" class="alert alert-success">
        {{model.success}}
    </div>
    <div>
        <form>
            <div class="form-group">
                    <div class="stars" id="rating">
                        <form action="">
                            <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
                            <label class="star star-1" for="star-1"></label>
                        </form>
                    </div>

                <div class="nbb-review" ng-show="model.user.type">
                    <label for="review">Review</label>
                    <div>
                        <textarea class="form-control" ng-model="model.review.review" id="review"></textarea>
                    </div>
                </div>
            </div>
        </form>

        <a class="btn btn-block btn-primary" ng-click="model.updateReview()">Save Review</a>
        <a class="btn btn-block btn-danger"  ng-click="model.deleteReview()">Delete Review</a>
    </div>
</div>