<div class="container">
    <h1>My Reviews</h1>
    <div>
        <ul class="list-group">
            <li ng-repeat="review in model.reviews" class="list-group-item">
                {{review}}
                <h3 ng-model="review.restaurant"></h3>
                <div class="stars" id="rating">
                        <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
                        <label class="star star-1" for="star-1"></label>
                </div>
                <h5>{{review.review}}</h5>
                <a href="#/user/{{model.userId}}/review/{{review._id}}">Edit</a>
            </li>

            <div ng-init="model.populateStars()"></div>
        </ul>
    </div>
</div>
