<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img class="logo pull-left" src="photo\logo.jpg">
            <a href="#/" class="navbar-brand">Restaurant App</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div ng-if="!model.user">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-default" href="#login" role="button">Login</a></li>
                    <li><a class="btn btn-default" href="#register" role="button">Register</a></li>
                </ul>
            </div>
            <div ng-if="model.user">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-default" href="#/user/{{model.user._id}}">Profile</a></li>
                </ul>
            </div>
            <form class="navbar-form navbar-center">
                <input ng-model="model.keyword"
                       type="text" class="form-control" placeholder="Search Restaurant">
                <a ng-click="model.searchRestaurant(model.keyword)"
                   class="btn btn-default"
                   type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </form>
        </div>
    </div>
</nav>



<div class="container">
    <h2>Add Review for {{model.restaurant.name}}</h2>
    <div ng-if="model.alert" class="alert alert-danger">
        {{model.alert}}
    </div>
    <form>
        <div class="form-group">
            <div class="stars" id="rating">
                <form action="">
                    <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
                    <label class="star star-1" for="star-1"></label>
                </form>
            </div><br/>
            <div ng-show="model.user.type">
            <label for="review">Review</label>
            <textarea id="review" class="form-control" name="review" rows="5"></textarea>
            </div>
        </div>
    </form>
    <a class="btn btn-block btn-primary" ng-click="model.createReview()">Save Review</a>
    <a class="btn btn-block btn-danger" ng-click="model.cancel()">Cancel</a>
</div>