<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img class="logo pull-left" src="photo\logo.jpg">
            <a href="#/" class="navbar-brand">Restaurant App</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div ng-if="!model.user">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-default" href="#login" role="button">Login</a></li>
                    <li><a class="btn btn-default" href="#register" role="button">Register</a></li>
                </ul>
            </div>
            <div ng-if="model.user">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-default" href="#/user/{{model.user._id}}">Profile</a></li>
                </ul>
            </div>
            <form class="navbar-form navbar-center">
                <input ng-model="model.keyword"
                       type="text" class="form-control" placeholder="Search Restaurant">
                <a ng-click="model.searchRestaurant(model.keyword)"
                   class="btn btn-default"
                   type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </form>
        </div>
    </div>
</nav>



<div class="container">
    <h1>Reviews</h1>
    <div>
        <ul class="list-group">
            <li ng-repeat="review in model.reviews" class="list-group-item">
                <a ng-if="model.currentUser" class="glyphicon glyphicon-edit pull-right" href="#/user/{{model.userId}}/review/{{review._id}}"></a>
                <a href="#/restaurant/{{review._restaurant}}">
                    <h3>{{review.restaurant.name}}</h3>
                </a>
                <div class="form-group">
                    <div class="stars" id="rating">
                        <form action="">
                            <input class="star star-5" id="{{review._id}} star-5" type="radio" name="star" value="5" disabled="true"/>
                            <label class="star star-5" for="{{review._id}} star-5"></label>
                            <input class="star star-4" id="{{review._id}} star-4" type="radio" name="star" value="4" disabled="true"/>
                            <label class="star star-4" for="{{review._id}} star-4"></label>
                            <input class="star star-3" id="{{review._id}} star-3" type="radio" name="star" value="3" disabled="true"/>
                            <label class="star star-3" for="{{review._id}} star-3"></label>
                            <input class="star star-2" id="{{review._id}} star-2" type="radio" name="star" value="2" disabled="true"/>
                            <label class="star star-2" for="{{review._id}} star-2"></label>
                            <input class="star star-1" id="{{review._id}} star-1" type="radio" name="star" value="1" disabled="true"/>
                            <label class="star star-1" for="{{review._id}} star-1"></label>
                        </form>
                    </div>
                </div>
                <div ng-if="review.review">
                <h4>"{{review.review}}"</h4>
                </div>
                <a repeat-end="{{review._id}}, {{review.rate}}"></a>
            </li>
        </ul>
    </div>
    <div ng-if="!model.reviews" class="alert alert-info">
        <h3>No reviews found!</h3>
        <p>Please navigate to the restaurant you wish to review</p>
    </div>
</div>
