<div class="container">
    <h2>
        Login
    </h2>

    <div ng-if="model.alert" class="alert alert-danger">
        {{model.alert}}
    </div>

    <form>
        <input ng-model="model.username"
               class="form-control"
               name="username"
               id="username"
               type="text"
               placeholder="username"/>
        <input ng-model="model.password"
               class="form-control"
               name="password"
               id="password"
               type="password"
               placeholder="password"/>
    </form>
    <button ng-click="model.login()" class="btn btn-block btn-primary">
        Login
    </button>
    <button type="button" onclick="location.href = '#/register'" class="btn btn-block btn-success">
        Register
    </button>
</div>