<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="#">
                    <span class="navbar-brand glyphicon glyphicon-play text-primary pull-left"
                          aria-hidden="true">I am a logo</span>
        </a>

        <a href="">
                <span class="navbar-brand glyphicon glyphicon-eye-open text-primary pull-left"
                      aria-hidden="true"></span>
        </a>

        <div id="navbar" class="form-group navbar-collapse navbar-brand collapse text-primary pull-right">
            <a class="btn btn-danger" href="#login" role="button">Log Out</a>

        </div>

        <div class="navbar-brand text-primary pull-right">
            <input class="search-input" type="text" id="search-query" placeholder="Search Restaurant" name="q"
                   autocomplete="off" spellcheck="false">
            <a ng-click="model.searchPhotos(searchText)" href="#search"
               class="btn btn-default"
               type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a></div>
    </div>
</nav>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}" class="navbar-link" id="navbar-profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <img class="img-rounded" src="photo\test.jpg" alt="Generic placeholder image" width="100%" height="100%">
            <div class="form-group">
                <form action="/api/upload" method="post" enctype="multipart/form-data">
                    <input name="myFile" type="file" class="form-control"/>
                    <input name="width" value="{{model.widget.width}}" style="display: none"/>
                    <input name="widgetId" value="{{model.widget._id}}" style="display: none"/>
                    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
                </form>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="container">
                <div ng-if="model.success" class="alert alert-success">
                    {{model.success}}
                </div>
                <div ng-if="model.alert" class="alert alert-danger">
                    {{model.alert}}
                </div>
                <form class="responsive">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input ng-model="model.user.username"
                               class="form-control"
                               name="username"
                               id="username"
                               placeholder="Username"
                               type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input ng-model="model.user.email"
                               class="form-control"
                               name="email"
                               id="email"
                               placeholder="emailaddress"
                               type="email"/>
                    </div>
                    <div class="form-group">
                        <label for="nickName">nickName</label>
                        <input ng-model=model.user.nickname
                               class="form-control"
                               name="nickName"
                               id="nickName"
                               placeholder="Nickname"
                               type="text"/>
                    </div>
                </form>
                <div class="form-group">
                    <a href="" class="btn btn-primary">
                        Update information
                    </a>

                    <a href="" class="btn btn-danger">
                        Logout
                    </a>
                </div>
                <div class="form-group"><a href="#/user/{{model.user._id}}/review" class="btn btn-block btn-danger ">
                    My Reviews
                </a></div>
                <div class="form-group"><a href="" class="btn btn-block btn-primary ">
                    My Friends
                </a></div>
            </div>
        </div>
    </div>
    <h3>Favorite restaurants</h3>
    <div class="jumbotron" ng-repeat="restaurant in model.restaurants">

        <h4>{{restaurant.restaurantsname}}</h4>
        <p>{{restaurant.discription}}</p>
        <div class="rating">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star half"></i>
        </div>
    </div>


</div>