<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img class="logo pull-left" src="photo\logo.jpg">
            <a href="#/" class="navbar-brand">Restaurant App</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div ng-if="!model.user">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-default" href="#login" role="button">Login</a></li>
                    <li><a class="btn btn-default" href="#register" role="button">Register</a></li>
                </ul>
            </div>
            <div ng-if="model.user">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-default" href="#/user/{{model.user._id}}">Profile</a></li>
                </ul>
            </div>
            <form class="navbar-form navbar-center">
                <input ng-model="model.keyword"
                       type="text" class="form-control" placeholder="Search Restaurant">
                <a ng-click="model.searchRestaurant(model.keyword)"
                   class="btn btn-default"
                   type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </form>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <img class="img-rounded" ng-src="{{model.profileUser.url}}" alt="Generic placeholder image" width="100%"
                 height="100%">
            <div class="form-group" ng-if="model.currentUser">
                <form action="/projectApi/upload" method="post" enctype="multipart/form-data">
                    <input name="myFile" type="file" class="form-control"/>
                    <input name="width" value="100%" style="display: none"/>
                    <input name="userId" value="{{model.profileUser._id}}" style="display: none"/>
                    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
                </form>
            </div>
        </div>
        <div class="col-xs-8">
            <div ng-if="model.success" class="alert alert-success">
                {{model.success}}
            </div>
            <div ng-if="model.alert" class="alert alert-danger">
                {{model.alert}}
            </div>
            <form class="responsive">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input ng-model="model.profileUser.username"
                           class="form-control"
                           name="username"
                           id="username"
                           placeholder="Username"
                           type="text" disabled/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input ng-model="model.profileUser.email"
                           class="form-control"
                           name="email"
                           id="email"
                           placeholder="emailaddress"
                           type="email"
                           ng-disabled="!model.currentUser"/>
                </div>
                <div class="form-group">
                    <label for="nickName">Nickname</label>
                    <input ng-model=model.profileUser.nickname
                           class="form-control"
                           name="nickName"
                           id="nickName"
                           placeholder="Nickname"
                           type="text"
                           ng-disabled="!model.currentUser"/>
                </div>
            </form>
            <div class="form-group" ng-if="model.currentUser">
                <a ng-click="model.updateUser()" class="btn btn-primary">
                    Update information
                </a>

                <a ng-click="model.logout()" class="btn btn-danger">
                    Logout
                </a>
                <a class="btn btn-danger" ng-click="model.unregister()" role="button">Unregister</a>


            </div>
            <div class="form-group"><a href="#/user/{{model.profileUser._id}}/review" class="btn btn-block btn-success ">
                Reviews
            </a></div>
            <div class="form-group"><a href="#/user/{{model.profileUser._id}}/friend" class="btn btn-block btn-primary ">
                Friends
            </a></div>
        </div>
    </div>
    <div class="in">
        <h3>Favorite Restaurant Lists</h3>     <a href="">
        <hr>
        <div ng-show="model.success" class="alert alert-success">
            {{model.success}}
        </div>

        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>
        <div class="container">
            <div class="input-group" ng-show="model.currentUser">
                <input ng-model="model.listname" type="text" class="form-control input-lg"
                       placeholder="New Favorite List Name">
      <span class="input-group-btn">
        <button ng-click="model.addList()" class="btn btn-info  input-lg" type="button">Create New List
        </button>
      </span>
            </div>

        </div>

    </a></div>

    <div class="container">
        <table class="table table-hover">
            <thead ng-show="model.lists">
            <tr>
                <th>name</th>
                <th>description</th>
                <th ng-if="model.currentUser">edit/delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="list in model.lists">
                <td>{{list.name}}</td>
                <td>{{list.description}}</td>
                <td ng-if="model.currentUser"><a class="btn" href="#/user/{{model.user._id}}/favorite/{{list._id}}" type="button"><span
                        class="glyphicon glyphicon-edit"></span></a>
                    <a class="btn" ng-click="model.deleteList(list._id)" type="button"><span
                            class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>


</div>