<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userid}}/website/{{model.websiteid}}/page/{{model.pageid}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Edit Widget
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.editWidget()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <!-- where should this point? not specified in assignment. -->
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userid}}" class="navbar-link" id="navbar-profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-if="model.alert" class="alert alert-danger">
        {{model.alert}}
    </div>

    <div>
        <label for="widget-text">Text</label>
        <input ng-model="model.widget.text" class="form-control" id="widget-text"/>
        <label for="widget-rows">Rows</label>
        <input ng-model="model.widget.rows" class="form-control" id="widget-rows"/>
        <label for="widget-placeholder">Placeholder</label>
        <input ng-model="model.widget.placeholder" class="form-control" id="widget-placeholder"/>
        <label for="widget-formatted">Formatted</label>
        <input ng-model="model.widget.formatted" class="form-control" type="checkbox" id="widget-formatted"/>
    </div>

    <a ng-click="model.deleteWidget()" class="btn btn-block btn-danger">
        Delete
    </a>
</div>