<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                New Page
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.addPage()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link" id="navbar-profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-if="model.alert" class="alert alert-danger">
        {{model.alert}}
    </div>

    <form>
        <div class="form-group">
            <label for="pageName">Name</label>
            <input ng-model="model.page.name"
                   class="form-control"
                   id="pageName"
                   name="pageName"
                   type="text"
                   placeholder="Cool New Page"/>

            <label for="pageTitle">Title</label>
            <input ng-model="model.page.title"
                   class="form-control"
                   id="pageTitle"
                   name="pageTitle"
                   type="text"
                   placeholder="My Page"/>
        </div>
    </form>
</div>