<div class="container">
    <div class="col-xs-6">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>{{model.restaurant.name}}</h1>
                <h4>{{model.restaurant.description}}</h4>
            </li>
            <li class="list-group-item">
                <h3>{{model.restaurant.rating}} / 5 Average Rating</h3>
                <h4>
                    <ng-pluralize count="model.restaurant.numRatings"
                                  when="{'1': '1 Rating',
                                         'other': '{} Ratings'}">
                    </ng-pluralize>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>{{model.restaurant.type}}</h4>
            </li>
        </ul>
    </div>
    <div class="col-xs-6">
        <img src="photo/test.jpg" width="75%">
    </div>
</div>

<div class="container" ng-if="model.user">
    <div ng-show="model.review">
        <h3>Your Review</h3>
        <h4>{{model.review.rate}}</h4>
        <div ng-show="model.review.review">
            <h4>"{{model.review.review}}"</h4>
        </div>
    </div>
    <div ng-show="!model.review">
        <a href="#/restaurant/{{model.restaurantId}}/review/{{model.userId}}" class="btn btn-block btn-primary">Add Review</a>
    </div>
</div>

<div class="container">
    <h3>Top Dishes</h3>
    <ul class="list-group">
        <li ng-repeat="dish in model.restaurant.menu" class="list-group-item">
            <h4>{{dish.name}}</h4>
            <h5>{{dish.description}}</h5>
        </li>
    </ul>
</div>

<div class="container">
    <h3>Reviews</h3>
    <ul class="list-group">
        <li ng-repeat="review in model.restaurant.reviews" class="list-group-item">
            <div>
                <a href="#/user/">
                <img src="photo/test.jpg" class="pull-left nbb-review-img" height="60px" width="60px">
                </a>
            </div>
            <a href="#">
            <h4>Andy</h4>
            </a>
            <h4>{{review.rating}}</h4>
            <h5>"{{review.review}}"</h5>
        </li>
    </ul>
</div>