<div class="container">
    <div class="col-xs-12 col-sm-6">
        <img class="nbb-restaurant-img" src="photo/test.jpg" width="75%">
    </div>
    <div class="col-sm-6 col-xs-12">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>{{model.restaurant.name}}</h1>
                <div class="form-group">
                    <div class="stars" id="rating">
                        <form action="">
                            <input class="star star-5" id="{{model.restaurant._id}} star-5" type="radio" name="star" value="5" disabled="true"/>
                            <label class="star star-5" for="{{model.restaurant._id}} star-5"></label>
                            <input class="star star-4" id="{{model.restaurant._id}} star-4" type="radio" name="star" value="4" disabled="true"/>
                            <label class="star star-4" for="{{model.restaurant._id}} star-4"></label>
                            <input class="star star-3" id="{{model.restaurant._id}} star-3" type="radio" name="star" value="3" disabled="true"/>
                            <label class="star star-3" for="{{model.restaurant._id}} star-3"></label>
                            <input class="star star-2" id="{{model.restaurant._id}} star-2" type="radio" name="star" value="2" disabled="true"/>
                            <label class="star star-2" for="{{model.restaurant._id}} star-2"></label>
                            <input class="star star-1" id="{{model.restaurant._id}} star-1" type="radio" name="star" value="1" disabled="true"/>
                            <label class="star star-1" for="{{model.restaurant._id}} star-1"></label>
                        </form>
                    </div>
                </div>
                <h4>
                    <ng-pluralize count="model.restaurant.numRatings"
                                  when="{'1': '1 Rating',
                                         'other': '{} Ratings'}">
                    </ng-pluralize>
                </h4>
            </li>
            <li class="list-group-item">



                <h4>{{model.restaurant.description}}</h4>
            </li>
            <li class="list-group-item">
                <h4>{{model.restaurant.type}}</h4>
            </li>
        </ul>
    </div>
</div>

<div class="container" ng-if="model.userId">
    <div ng-show="model.review">
        <h3>Your Review</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <a class="glyphicon glyphicon-edit pull-right" href="#/user/{{model.userId}}/review/{{model.review._id}}"></a>
            <div class="stars">
                <form action="">
                    <input class="star star-5" id="{{model.review._user}} star-5" type="radio" name="star" value="5" disabled="true"/>
                    <label class="star star-5" for="{{model.review._user}} star-5"></label>
                    <input class="star star-4" id="{{model.review._user}} star-4" type="radio" name="star" value="4" disabled="true"/>
                    <label class="star star-4" for="{{model.review._user}} star-4"></label>
                    <input class="star star-3" id="{{model.review._user}} star-3" type="radio" name="star" value="3" disabled="true"/>
                    <label class="star star-3" for="{{model.review._user}} star-3"></label>
                    <input class="star star-2" id="{{model.review._user}} star-2" type="radio" name="star" value="2" disabled="true"/>
                    <label class="star star-2" for="{{model.review._user}} star-2"></label>
                    <input class="star star-1" id="{{model.review._user}} star-1" type="radio" name="star" value="1" disabled="true"/>
                    <label class="star star-1" for="{{model.review._user}} star-1"></label>
                </form>
            </div>
            <div ng-if="model.review">
            {{model.populateStars(model.review._user, model.review.rate)}}
            </div>
        <div ng-show="model.review.review">
            <p>"{{model.review.review}}"</p>
        </div>
            </li>
            </ul>
    </div>
    <div ng-show="!model.review">
        <a href="#/restaurant/{{model.restaurantId}}/review/{{model.userId}}" class="btn btn-block btn-primary">Add Review</a>
    </div>
</div>

<div class="container">
    <h3>Top Dishes</h3>
    <ul class="list-group">
        <li ng-repeat="dish in model.restaurant.menu" class="list-group-item">
            <h4>{{dish.name}}</h4>
            <h5>{{dish.description}}</h5>
        </li>
    </ul>
</div>

<div class="container">
    <h3>Reviews</h3>
    <ul class="list-group">
        <li ng-repeat="review in model.restaurant.reviews" class="list-group-item">
            <div class="form-group pull-right">
                <div class="stars">
                    <form action="">
                        <input class="star star-5" id="{{review._id}} star-5" type="radio" name="star" value="5" disabled="true"/>
                        <label class="star star-5" for="{{review._id}} star-5"></label>
                        <input class="star star-4" id="{{review._id}} star-4" type="radio" name="star" value="4" disabled="true"/>
                        <label class="star star-4" for="{{review._id}} star-4"></label>
                        <input class="star star-3" id="{{review._id}} star-3" type="radio" name="star" value="3" disabled="true"/>
                        <label class="star star-3" for="{{review._id}} star-3"></label>
                        <input class="star star-2" id="{{review._id}} star-2" type="radio" name="star" value="2" disabled="true"/>
                        <label class="star star-2" for="{{review._id}} star-2"></label>
                        <input class="star star-1" id="{{review._id}} star-1" type="radio" name="star" value="1" disabled="true"/>
                        <label class="star star-1" for="{{review._id}} star-1"></label>
                    </form>
                    <div>
                        {{model.populateStars(review._id, review.rate)}}
                    </div>
                </div>
            </div>
            <div>
                <a href="#/user/{{review._user}}">
                <img src="photo/test.jpg" class="pull-left nbb-review-img" height="60px" width="60px">
                </a>
            </div>
            <a href="#/user/{{review._user}}">
            <h4>Andy</h4>
            </a>
            <h4>{{review.rating}}</h4>
            <p>"{{review.review}}"</p>
        </li>
    </ul>
</div>