<div class="container">
    <div class="col-xs-6">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>{{model.restaurant.name}}</h1>
                <h4>{{model.restaurant.description}}</h4>
            </li>
            <li class="list-group-item">
                <h3>{{model.restaurant.rating}}</h3>
            </li>
            <li class="list-group-item">
                <h4>{{model.restaurant.type}}</h4>
            </li>
        </ul>
    </div>
    <div class="col-xs-6">
        <img src="photo/test.jpg" width="75%">
    </div>
</div>

<div class="container" ng-if="model.user">
    <h3>Your Review</h3>
    <h4>{{model.user.rating}} "{{model.user.review}}"</h4>
    {{model.userId}}
    <a href="#/restaurant/{{model.restaurantId}}/review/{{model.userId}}" class="btn btn-block btn-primary">Add Review</a>
</div>

<div class="container">
    <h3>Top Dishes</h3>
    <ul class="list-group">
        <li ng-repeat="dish in model.restaurant.menu" class="list-group-item">
            <h4>{{dish.name}}</h4>
            <h5>{{dish.description}}</h5>
        </li>
    </ul>
</div>

<div class="container">
    <h3>Reviews</h3>
    <ul class="list-group">
        <li ng-repeat="review in model.restaurant.reviews" class="list-group-item">
            <h5>"{{review}}"</h5>
        </li>
    </ul>
</div>