<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="../user/profile.view.client.html" class="navbar-link" id="navbar-profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div class="list-group">
        <a class="list-group-item" href="widget-heading.view.client.html">Header</a>
        <a class="list-group-item" href="#">Label</a>
        <a class="list-group-item" href="#">HTML</a>
        <a class="list-group-item" href="#">Text Input</a>
        <a class="list-group-item" href="#">Link</a>
        <a class="list-group-item" href="#">Button</a>
        <a class="list-group-item" href="widget-image.view.client.html">Image</a>
        <a class="list-group-item" href="widget-youtube.view.client.html">YouTube</a>
        <a class="list-group-item" href="#">Data Table</a>
        <a class="list-group-item" href="#">Repeater</a>
    </div>
</div>
