<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#" class="navbar-link">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
                <a href="#" class="navbar-link" id="navbar-eye">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="../user/profile.view.client.html" class="navbar-link" id="navbar-profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-repeat="widget in model.widgets" ng-switch="widget.widgetType">
        <div class="nbb-widget-control">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-switch-when="HEADER" class="nbb-widget">
            <div ng-switch="widget.size">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
            </div>
        </div>
        <div ng-switch-when="IMAGE" class="nbb-widget">
            <img ng-src="{{widget.url}}" width="{{widget.width}}"/>
        </div>
        <div ng-switch-when="HTML" ng-bind-html="model.getTrustedHtml(widget.text)" class="nbb-widget"></div>
        <div ng-switch-when="YOUTUBE" class="nbb-widget">
            <iframe width="{{widget.width}}" height="auto" ng-src="{{model.getTrustedUrl(widget.url)}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div ng-switch-default class="nbb-widget">
            {{widget}}
        </div>
    </div>
</div>