<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="../user/profile.view.client.html" class="navbar-link" id="navbar-profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="widgetName">Name</label>
            <input class="form-control"
                   id="widgetName"
                   type="text"
                   placeholder="Image Name"
                   name="widgetName"/>
        </div>
        <div class="form-group">
            <label for="widgetText">Text</label>
            <input class="form-control"
                   id="widgetText"
                   type="text"
                   placeholder="Image Title"
                   name="pageTitle"/>
        </div>
        <div class="form-group">
            <label for="widgetURL">URL</label>
            <input class="form-control"
                   id="widgetURL"
                   name="pageTitle"
                   type="text"
                   value="http://cdn.theatlantic.com/assets/media/img/mt/2016/05/RTR2SIBB/lead_960.jpg?1463756343"/>
        </div>
        <div class="form-group">
            <label for="widgetWidth">Width</label>
            <input class="form-control"
                   id="widgetWidth"
                   name="pageTitle"
                   type="text"
                   value="100%"/>
        </div>
        <div class="form-group">
            <label for="widgetImage">Upload</label>
            <input class="form-control"
                   id="widgetImage"
                   name="pageTitle"
                   type="text"
                   value="Choose File  No file chosen"/>
            <button type="button" class="btn btn-block btn-primary">Upload Image</button>
        </div>

    </form>

    <button type="button" onclick="location.href = 'widget-list.view.client.html'" class="btn btn-block btn-danger">
        Delete
    </button>
</div>