<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../page/page-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-chooser.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#" class="navbar-link">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
                <a href="#" class="navbar-link" id="navbar-eye">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="../user/profile.view.client.html" class="navbar-link" id="navbar-profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div class="nbb-widget">
        <div class="nbb-widget-control">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>The Atlantic</h1>
    </div>
    <div class="nbb-widget">
        <div class="nbb-widget-control">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h4>How Paper Shaped Civilization</h4>
    </div>
    <div class="nbb-widget">
        <div class="nbb-widget-control">
            <a href="widget-image.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img  width="100%" src="http://cdn.theatlantic.com/assets/media/img/mt/2016/05/RTR2SIBB/lead_960.jpg?1463756343">
    </div>
    <div class="nbb-widget">
        <div class="nbb-widget-control">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>The material gave rise to currency, bureaucracy, and modern communication—and caused panic over technological change.</p>
    </div>
    <div class="nbb-widget">
        <div class="nbb-widget-control">
            <a href="widget-heading.html.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>My Video</h1>
    </div>
    <div class="nbb-widget">
        <div class="nbb-widget-control">
            <a href="widget-youtube.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/165904278?quality=1080p" allowfullscreen></iframe></div>
    </div>
    <div class="nbb-widget">
        <div class="nbb-widget-control">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p><a href="https://vimeo.com/165904278">Spearfishing Black Grouper</a> from <a href="https://vimeo.com/user5957668">Nathaniel Burbine</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
</div>