<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="../user/profile.view.client.html" class="navbar-link" id="navbar-profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="widgetName">Name</label>
            <input class="form-control"
                   id="widgetName"
                   type="text"
                   name="widgetName"
                   placeholder="Vimeo Video"/>
        </div>
        <div class="form-group">
            <label for="widgetText">Text</label>
            <input class="form-control"
                   id="widgetText"
                   type="text"
                   name="pageTitle"
                   placeholder="My Video"/>
        </div>
        <div class="form-group">
            <label for="widgetURL">URL</label>
            <input class="form-control"
                   id="widgetURL"
                   name="pageTitle"
                   type="url"
                   value=https://player.vimeo.com/video/165904278?quality=1080p"/>
        </div>
        <div class="form-group">
            <label for="widgetWidth">Width</label>
            <input class="form-control"
                   id="widgetWidth"
                   type="text"
                   name="pageTitle"
                   value="100%"
                   placeholder="100%"/>
        </div>
    </form>

    <button type="button" onclick="location.href = 'widget-list.view.client.html'" class="btn btn-block btn-danger">
        Delete
    </button>
</div>