<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="glyphicon glyphicon-search"></span> Im a Logo

            <div class="input-group">
                <input ng-model="searchText" type="text" class="form-control">
    <span class="input-group-btn">
        <a ng-click="model.searchPhotos(searchText)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <a class="btn btn-success" href="#login" role="button">Login</a>
            <a class="btn btn-success" href="" role="button">Register</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron" ng-repeat="restaurant in model.restaurants">
        <div class="row">
            <div class="col-xs-4">
                <img class="img-rounded" src="photo\test.jpg" alt="Generic placeholder image" width="200" height="190">
            </div>

            <div class="col-xs-8">

                <h4>{{restaurant.restaurantsname}}</h4>
                <p>{{restaurant.discription}}</p>
                <div class="rating">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star half"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<ul>
    <li>
        <a href="project/index.html">restaurant</a>
    </li>
    <li>
        <a href="login">Login</a>
    </li>
    <li>
        <a href="test/index.html">Test MongoDB</a>
    </li>
    <li>
        <a href="#/user/3">Profile Page</a>
    </li>
</ul>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link" id="navbar-profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


</div>