<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img class="logo pull-left" src="photo\logo.jpg">
            <a href="#/" class="navbar-brand">Restaurant App</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div ng-if="!model.user">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-default" href="#login" role="button">Login</a></li>
                    <li><a class="btn btn-default" href="#register" role="button">Register</a></li>
                </ul>
            </div>
            <div ng-if="model.user">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-default" href="#/user/{{model.user._id}}">Profile</a></li>
                </ul>
            </div>
            <form class="navbar-form navbar-center">
                <input ng-model="model.keyword"
                       type="text" class="form-control" placeholder="Search Restaurant">
                <a ng-click="model.searchRestaurant(model.keyword)"
                   class="btn btn-default"
                   type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </form>
        </div>
    </div>
</nav>


<div class="container">
    <div class="jumbotron" ng-repeat="restaurant in model.restaurants">
        <div class="row">
            <div class="col-sm-4">
                {{restaurant.url}}
                <a href="#/restaurant/{{restaurant._id}}">
                    <img class="img-rounded nbb-restaurant-img" ng-src="{{restaurant.url}}" alt="Generic placeholder image"
                         width="200" height="190">
                </a>
            </div>
            <div class="col-sm-8">
                <h2><a href="#/restaurant/{{restaurant._id}}">{{restaurant.name}}</a></h2>
                <div class="form-group">
                    <div class="stars">
                        <form action="">
                            <input class="star star-5" id="{{restaurant._id}} star-5" type="radio" name="star" value="5"
                                   disabled="true"/>
                            <label class="star star-5" for="{{restaurant._id}} star-5"></label>
                            <input class="star star-4" id="{{restaurant._id}} star-4" type="radio" name="star" value="4"
                                   disabled="true"/>
                            <label class="star star-4" for="{{restaurant._id}} star-4"></label>
                            <input class="star star-3" id="{{restaurant._id}} star-3" type="radio" name="star" value="3"
                                   disabled="true"/>
                            <label class="star star-3" for="{{restaurant._id}} star-3"></label>
                            <input class="star star-2" id="{{restaurant._id}} star-2" type="radio" name="star" value="2"
                                   disabled="true"/>
                            <label class="star star-2" for="{{restaurant._id}} star-2"></label>
                            <input class="star star-1" id="{{restaurant._id}} star-1" type="radio" name="star" value="1"
                                   disabled="true"/>
                            <label class="star star-1" for="{{restaurant._id}} star-1"></label>
                        </form>
                        <div>
                            {{model.populateStars(restaurant._id, restaurant.rating)}}
                        </div>
                    </div>
                </div>
                <p>{{restaurant.description}}</p>
                <p>{{restaurant.address}}</p>
            </div>
        </div>
    </div>
</div>